<!DOCTYPE html>
<html>
<head>
<title>API Docs | Curriculum Tagger</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<h1>Curriculum Tagger</h1>

<h2>API Docs</h2>

<ul>
<li><a href="/">/</a> - This documentation</li>
<li><a href="/formats">/formats</a> - List all of the content formats</a></li>
<li><a href="/images">/images</a> - List all images</li>
<li><a href="/images/search?q=volcanos">/images/search?q=:term</a> - Search for images</li>
<li><a href="/levels">/levels</a> - List all of the levels</a></li>
<li><a href="/ping">/ping</a> - Displays 'ok' if this service is up</li>
<li><a href="/posts">/posts</a> - List all of the posts</a></li>
<li><a href="/posts/1">/posts/:id</a> - Display a specific post</a></li>
<li><a href="/relationships">/relationships</a> - List all of the relationships</a></li>
<li><a href="/relationships/1">/relationships/:id</a> - Display a specific relationships</a></li>
<li><a href="/relationships/1/edit">/relationships/:id/edit</a> - Edit a relationships</a></li>
<li><a href="/relationships/by/subject?uri=http%3A%2F%2Fwww.bbc.co.uk%2Feducation%2Flevels%2Fz3g4d2p">/relationships/by/subject?uri=:uri</a> - List all of the relationships a given subject uri</li>
<li><a href="/relationships/by/predicate?uri=a">/relationships/by/predicate?uri=:uri</a> - List all of the relationships for a given predicate uri</a></li>
<li><a href="/relationships/by/object?uri=gcse">/relationships/by/object?uri=:uri</a> - List all of the relationships for a given object uri</a></li>
<li><a href="/relationships/latest?show=10">/relationships/latest?show=:show</a> - Show the latest (default: 10) relationships</a></li>
<li><a href="/relationships/new">/relationships/new</a> - Create a new relationship</a></li>
<li><a href="/subjects">/subjects</a> - List all of the subjects</a></li>
<li><a href="/version">/version</a> - Display the version number of this service</li>
</ul>

<p>Note: Some endpoints (e.g. /levels,) can respond in XML or JSON as well as the default HTML. Set the appripriate Accept header or suffix the request URL with a file extension.</p>

<%= include 'github-ribbon.erb' %>
</body>
</html>
