<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<h1>curriculum-data</h1>

<h2>API</h2>

<ul>
<li><a href="/">/</a> - This documentation</li>
<li><a href="/images/search?q=volcanos">/images/search?q=:term</a> - Search for images</li>
<li><a href="/levels">/levels</a> - List all of the levels</a></li>
<li><a href="/ping">/ping</a> - Displays 'ok' if this service is up</li>
<li><a href="/posts">/posts</a> - List all of the posts</a></li>
<li><a href="/version">/version</a> - Display the version number of this service</li>
</ul>

</body>
</html>
