<!DOCTYPE html>
<html>
<head>
  <title>Levels</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link title="Levels in JSON"
    type="application/json"
    rel="alternate"
    href="/levels.json">
  <link title="Levels in XML"
    type="application/xml"
    rel="alternate"
    href="/levels.xml">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>
  <h1>Levels</h1>
  <% for level in @levels %>
    <div class="box">
      <h2><a href="/levels/<%= level.id %>"><%= level.label %></a></h2>
    </div>
  <% end %>

<%= include 'github-ribbon.erb' %>
</body>
</html>
