<!DOCTYPE html>
<html>
<head>
<title>Not found | Curriculum Tagger</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>
<h1>Curriculum Tagger</h1>
<h2>Ooops ... it looks like we've slipped up!</h2>
<p>We can't find your page.</p>

<h3>Did you type the URL?</h3>
<p>You may have typed the address URL incorrectly.</p>

<p>Check to make sure you've got the correct spelling.</p>

<h3>Did you follow a link our website?</h3>

<p>We may be having some difficulties.</p>

<p>Please take a look on our <a href="/">API documentation</a> for more details.</p>

<h3>Did you follow a link from another website?</h3>

<p>Links from other sites can sometimes be outdated and the content you are
looking for might have been moved or is no longer available here.</p>

<%= include 'github-ribbon.erb' %>
</body>
</html>
