<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

  <h1>Posts</h1>
  <% for post in @posts %>
    <div class="box">
      <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
      <p>Created: <%= post.created_at %></p>
    </div>
  <% end %>
  
</body>
</html>